page-perfil{

  .perfil{
  background:#B7F9DB !important;
  position: absolute;
  }

  .imagen{
    /* cambia estos dos valores para definir el tamaño de tu círculo */
    height: 90px;
    width: 90px;
    /* los siguientes valores son independientes del tamaño del círculo */
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    background-size: 100% auto;
  }
.bold{
  margin-top: 15%;
  font-weight: bold;
}
.buu{
  font-size: 15px;
  margin-left: 20%;
}

  #buttonMod{
    font-size: 15px;
    margin-bottom:5%;
    color: #FFF;
    width: 100%;
    position: relative;
    float:left;
    background-color: #74C8ED !important
  }
  #buttonHelp{
    width: 90%;
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom:5%;
    float:left;
    color:#000;
    background-color: rgba(0, 0, 0,0);
  }

.im{
  width: 85%;
  text-align: center;
  position: relative;
  float:left;
  border-radius: 1px solid #000;
  margin: 8%;
  padding: 3%;
  background-color:rgba(255, 255, 255,0.5);// #C4D7CF;
}

  .ayuda{
  padding: 10% !important;
  padding-top: 5% !important;
  padding-bottom: 5% !important;
  float:left;
  text-align: center;
  width: 100%;
  }



}
