page-principal{

.bg-principal{

  background-image:url("../assets/imgs/home.png");
  background-repeat: no-repeat;
  background-position: center;
  text-align:center;
 }
.texto{
  font-family:inherit;
  font-size:120%;
  color: white;
}

}
