page-inicio {

.bg-inicioSesion{
      //background-image:url("../assets/imgs/inicioSesion.png");
      background-repeat: no-repeat;
      background-position: center;
      text-align: center;
     }

}
